* text=auto !eol
dev/Makefile -text
dev/dar-feats.tsv -text
dev/igt-to-conllu.py -text
dev/leipzig.tsv -text
dev/mehweb.lexc -text
dev/mehweb.twol -text
dev/orthog.tsv -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
